.wrapper {
  width: 100vw;
  height: 100vh;
  background: #f6f6f6;

  .container {
    position: relative;
    top: 200px;
    width: 300px;
    margin: auto;
    @media screen and (max-width: 700px) {
      top: 150px;
    }
  }
  .tip {
    span:nth-child(2) {
      color: #096dd9;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid currentColor;
      }
    }
  }
  // .form-tip {
  //   min-width: 300px;
  // }

  // .form-button {
  //   width: 100%;
  // }
}
