.bg {
    width: 100wh;
    height: 100vh;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#components-form-demo-normal-login {
    .login-form {
        min-width: 300px;
    }
    .login-form-forgot {
        float: right;
    }
    .login-form-button {
        width: 100%;
    }
}
