.todo-wrapper {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.open-todo {
    margin-left: 50px;
}

.todo-bar {
    margin-bottom: 50px;
}

.todo-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-nav {
    li {
        cursor: pointer;
        width: 300px;
        display: flex;
        padding: 1rem;
    }
}

.todo-list {
    width: 600px;
}

.color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin-right: 1rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.todo-item {
    display: flex;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
}

.todo-item {
    span {
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.no-data {
    margin-top: 3rem !important;
}

.todo-icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.2s ease;
}

.todo-icon+.todo-icon {
    margin-left: 1rem;
}

.todo-nav {
    li.active {
        border-bottom: 2px solid rgba(114, 111, 112, 0.5);
    }
}

.todo-icon:hover {
    transform: scale(1.2);
}

.pending {
    background-color: #726f70;
}

.resolved {
    background-color: #f25f66;
}