.wrapper {
  width: 90vw;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 6rem 0;
}

.user {
  position: absolute;
  right: 2rem;
  top: 2rem;

  > span {
    margin-right: 1rem;
  }
}

.newTodo {
  margin-left: 2rem;
}

.main {
  width: 100%;
}

.queryBar {
  width: 80%;
  display: flex;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  border-bottom: 2px solid rgba(114, 111, 112, 0.5);

  li {
    position: relative;
    display: flex;
    flex: 1;
    padding: 1rem 0;
    cursor: pointer;

    .dot {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 1rem;
      border-radius: 100%;
    }

    &.active::after {
      display: block;
      content: '';
      position: absolute;
      background-color: #539fe6;
      width: 100%;
      bottom: -2px;
      height: 2px;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.noData {
  margin-top: 3rem;
}

.pending {
  background-color: #726f70;
}

.resolved {
  background-color: #f25f66;
}
